In [ ]:
LINEAR REGRESSION

In [1]:
#Import python libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.linear_model import LinearRegression

In [5]:
#Load the dataset and store it in a dataframe.

df = pd.read_csv("BostonHousing.csv")

In [6]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [10]:
X = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'lstat']]
Y = df['medv']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3, random_state = 42)

In [12]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [13]:
print(y_pred)

[28.57094774 36.81549468 14.77342714 25.40879164 17.83709907 23.16449335
 17.15522701 13.49000152 22.13052286 20.28195952 24.78234243 18.30984099
 -4.85443361 21.6241052  19.24399263 25.34909243 20.11888967  4.57693599
 40.32947719 16.4011725  27.42039613 30.09145823 11.07523442 23.96296133
 17.90714413 15.47494417 22.94468805 17.87544105 22.49189601 19.03202569
 22.06247478 25.11072892 24.04433573 17.86692173 16.25957928 18.44827257
 30.96796371 20.17403234 24.19001512 24.95168383 13.5253433  31.7582742
 42.47240344 17.52748697 27.07696462 16.16466286 14.07453935 26.10426805
 19.26722596 30.11274101 21.06774008 34.11059788 15.33667916 25.964418
 39.13846857 22.10873004 17.84275474 33.09663034 24.80711674 12.76610932
 22.46769932 30.75208688 31.64525856 17.49348348 21.3470605  16.64731915
 19.24441479 26.15659269 31.14392822 15.3856907  20.28926532 26.68912681
 11.47323083 17.22024636 23.80104279  3.72145378 21.33150314 41.21941893
 16.89639244  9.32000961 21.16374106 12.69277706 21.68527452  8.1803624
 22.93325704 32.4945862  19.63665988 25.52042031 29.21763872 19.69021544
 25.48151723  7.2426409  19.83145486 15.48719397 14.06745932 20.66899901
 24.28503304  2.51276448 16.78755169 18.67107174 22.00457855 24.56710526
 10.09820816 19.68781877 24.03391681 15.47590982 18.50443311 25.46081097
 20.91269529 24.78340768 10.7214664  20.28948379 22.00803381 27.27295285
 32.24307963 17.63547044 34.29327259 13.93153879 20.7617593  28.633675
 16.08028363 24.70034241  6.27662712 23.69732917 25.94887786 23.06719716
 25.31646045 33.45980832 23.85999002 38.43107687 13.83594634 25.3030328
 17.95619928 20.23256091  9.36715545 23.59852102 22.3166712  32.36227625
 31.77066729 15.33392054 16.82835848 29.25875255 24.90369767 16.77186679
  5.38875491 26.49262404 23.88519925 16.26504142 13.18444012 39.72961441
 19.02022406 17.22012272]

In [14]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mead squared Error is:")
print(rmse)

Root Mead squared Error is:
4.595155124026774

In [15]:
print("Training accuracy is:")
lr.score(X_train, y_train)

Training accuracy is:

0.7340777261931664

In [16]:
print("Testing accuracy is:")
lr.score(X_test, y_test)

Testing accuracy is:

0.7166209449097787